<section class="flex gap-x-4 max-w-[660px]">
  <div class="[&>p]:mb-5 [&>p]:text-pretty">
    <p class="text-back dark:text-white">
      Soy <strong class="text-primary-100">Alejandro Rodríguez Mederos</strong>,
      tengo 22 años y llevo más de 10 años sumergido en el mundo de la
      programación. Desde que era pequeño supe que mi futuro estaría ligado a la
      tecnología. Actualmente, me encuentro en mi último año de <strong
        class="text-primary-100">Ingeniería Informática</strong
      >, consolidando mis conocimientos y habilidades para seguir creciendo en
      este apasionante campo.
    </p>

    <p class="text-back dark:text-white">
      A lo largo de los años, he trabajado con diversas tecnologías y me he
      especializado en el desarrollo de <strong class="text-primary-100">
        aplicaciones web</strong
      >. Me encanta crear soluciones que no solo resuelvan problemas, sino que
      también puedan tener un <span class="font-bold text-primary-100"
        >impacto positivo en las personas</span
      >.
    </p>

    <p class="text-back dark:text-white">
      Me apasiona el <strong class="text-primary-100"
        >desarrollo de videojuegos</strong
      >, y siempre que tengo oportunidad, intento participar en proyectos
      relacionados y compartir mi conocimiento. También me interesa el mundo del
      IoT y la automatización de tareas.
    </p>

    <p class="text-back dark:text-white">
      Actualmente, estoy trabajando en un proyecto personal: <strong
        class="text-primary-100">Stride</strong
      >, una aplicación móvil que combina mis dos grandes pasiones: programación
      y deporte. Este proyecto tiene como objetivo ayudar a las personas a
      conectar con otras interesadas en el mismo ámbito, creando una comunidad
      activa y colaborativa.
    </p>
  </div>
</section>
