<div class="flex items-center">
  <span class="relative inline-flex overflow-hidden rounded-full p-[3px]">
    <span
      class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#cc91fa_0%,#2c173d_50%,#cc91fa_100%)]"
    ></span>
    <div
      class="inline-flex items-center justify-center w-full px-3 py-1 text-sm font-semibold text-primary bg-black/20 rounded-full cursor-pointer backdrop-blur-3xl whitespace-nowrap"
    >
      <slot />
    </div>
  </span>
</div>
